.listElem {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.tempData {
  text-align: center;
}

.moveBtn {
  display: flex;
  justify-content: space-between;
  margin: 15px 25px;
}

.moveBtn:disabled {
  background-color: lightgrey;
  opacity: 0.5;
}
